<!-- plugins/tid_bits/app/views/projects/settings/_tid_bit_tags.html.erb -->
<% if User.current.allowed_to?(:manage_tid_bit_tags, @project) %>
  <%= link_to l(:label_tid_bit_tag_new), new_project_tid_bit_tag_path(@project), class: 'icon icon-add' %>

  <table class="list">
    <thead>
      <tr>
        <th><%= l(:field_name) %></th>
        <th><%= l(:field_color) %></th>
        <th><%= l(:label_actions) %></th>
      </tr>
    </thead>
    <tbody>
      <% @project.tid_bit_tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td><span style="color:<%= tag.color %>;"><%= tag.color %></span></td>
          <td>
            <%= link_to l(:button_edit), edit_project_tid_bit_tag_path(@project, tag), class: 'icon icon-edit' %>
            <%= link_to l(:button_delete), project_tid_bit_tag_path(@project, tag), method: :delete, data: { confirm: l(:text_are_you_sure) }, class: 'icon icon-del' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>